<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dvcs.gilbertcleanup"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dvcs.gilbertcleanup.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dvcs.gilbertcleanup.IssueListActivity"
            android:label="@string/title_issue_list"
            android:parentActivityName="com.dvcs.gilbertcleanup.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dvcs.gilbertcleanup.MainActivity" />
        </activity>
        <activity
            android:name="com.dvcs.gilbertcleanup.IssueDetailActivity"
            android:label="@string/title_issue_detail"
            android:parentActivityName=".IssueListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".IssueListActivity" />
        </activity>
        <activity
            android:name="com.dvcs.gilbertcleanup.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName="com.dvcs.gilbertcleanup.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dvcs.gilbertcleanup.MainActivity" />
        </activity>
        <activity android:name="com.sqisland.android.swipe_image_viewer.SwipeImageViewerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dvcs.gilbertCleanup.IssueDetailActivity" />
        </activity>
        <activity
            android:name="com.dvcs.gilbertcleanup.CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
    </application>

</manifest>